body {
     background-color: #E7DEB5;
     margin: 50px;
     font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    color:rgb(197, 109, 2)
}
.image {
    padding-top: 50px;
}











